# IDE-related stuff
.idea/

# module and object files
*.mod 
*.o

# specific executables
fortran/**/main

# virtual environment
venv/

# cache
__pycache__/
**gt_cache/
.dace.conf

# varia
.python-version
